bin-debug/**
bin-release/away3d/**
bin-release/com/**
bin-release/history/**
bin-release/myLib/**
bin-release/ndef/**
bin-release/org/**
bin-release/SWFAddress/**
bin-release/documentation and archives/**